<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">

</head>
<body>
    <header class="header">
        <div class="header-div">
            <h1 class="header-div-h1">
                KenzieHabit
            </h1>
            <img  class="header-div-img" src="../assets/img/Ellipse 3.png" alt="fotoPerfil">
        </div>
        
        <div class="header-div-nav">
            <nav class="header-nav">
                <img class="header-nav-img" src="../assets/img/Ellipse 3.png" alt="fotoPerfil">
                <h2 class="header-nav-h2">William Oliveira</h2>
            </nav>
        </div>
    </header>
  
    <main>
        <section class="container-cabecalho-lista">
            <div class="container-cabecalho-lista-texto">
                <h2>Tarefas</h2>
            </div>
            <div class="container-cabecalho-lista-opcao">
                <p>Todos</p>
                <p>concluidos</p>
                <button class="container-cabecalho-lista-opcao btn">criar</button>
            </div>
        </section>
        
        <section class="container-lista">

            <div class="container-lista-descricao">

                <div class="container-lista-descricao-1">
                    <p>Status</p>  
                    <p>Titulo</p>  
                </div>
 
                <div class="container-lista-descricao-2">
                    <p class="lista-decricao">Descricao</p>
                    <p class="lista-categoria">Categoria</p>
                    <p class="lista-editar">Editar</p>
                </div>
                
            </div>

            <div class="div-listar-habito">
                <ul class="listar-habito">
                    
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>
                    <li class="dados-habitos">
                        <div class="dados-habitos-1">
                            <input type="checkbox">
                            <p>fazer segundo segunda pela manha</p>
                        </div>
                        <div class="dados-habitos-2">
                            <p>Ir correr na praça</p>
                            <P class="dados-habitos-categoria">Saúde</P>
                            <span> <img src="../assets/img/editar.svg" alt=""></span>
                        </div>
                    </li>   
                    
                </ul>
            </div>
        </section>
        <section>
            <button class="btn">Carregar Mais</button>
        </section>
    </main>
</body>
</html>