<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <h1>
                KenzieHabit
            </h1>
            <img src="./src/assets/img/Ellipse 3.png" alt="fotoPerfil">
        </div>
        
        <nav>
            <img src="/assets/img/Ellipse 3.png" alt="fotoPerfil">
            <h2>William Oliveira</h2>
        </nav>
    </header>
  
    <main>
        <section>
            <div>
                <h2>Tarefas</h2>
            </div>
            <div>
                <h3>Todos</h3>
                <h3>concluidos</h3>
                <button>criar</button>
            </div>
        </section>
        
        <section>
            <div>
                <span>Status</span>
                <span>Titulo</span>
                <span>Descricao</span>
                <span>Categoria</span>
                <span>Editar</span>
            </div>
            <div>
                <ul>
                    <li>
                        <input type="checkbox">
                        <p>fazer segundo segunda pela manha</p>
                        <p>Ir correr na praça</p>
                        <P>Saúde</P>
                        <span>editar</span>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>