<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">

</head>

<body>
    <header class="header">
        <div class="header-div">
            <h1 class="header-div-h1">
                KenzieHabit
            </h1>
            <img class="header-div-img" src="/src/assets/img/foto-perfil.jpg" alt="fotoPerfil">
        </div>
        <div class="header-div-nav">
            <nav class="header-nav">
                <img class="header-nav-img" src="/src/assets/img/foto-perfil.jpg" alt="fotoPerfil">
                <h2 class="header-nav-h2">William Oliveira</h2>
            </nav>
        </div>
    </header>
    <main>
        <section class="container-cabecalho-lista">
            <div class="container-cabecalho-lista-texto">
                <h2>Tarefas</h2>
            </div>
            <div class="container-cabecalho-lista-opcao">
                <p>Todos</p>
                <p>Concluídos</p>
                <button class="btn btn--azul">Criar</button>
            </div>
        </section>
        <table class="tabela">
            <tr>
                <th class="status" scope="col">Status</th>
                <th class="titulo" scope="col">Título</th>
                <th class="descricao" scope="col">Descrição</th>
                <th class="categoria" scope="col">Categoria</th>
                <th class="editar" scope="col">Editar</th>
            </tr>
            <tr>
                <td class="status-conteudo"><input class="checkbox-estilizado" type="checkbox"></td>
                <td class="titulo-conteudo">
                    <div class="titulo-reducer">Fazer exercícios pela manhã</div>
                </td>
                <td class="descricao-conteudo">Ir correr na praça</td>
                <td class="categoria-conteudo">
                    <div class="categoria-color">Saúde</div>
                </td>
                <td class="editar-conteudo"><svg width="27" height="7" viewBox="0 0 27 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="3.8877" cy="3.5" r="3" fill="#ADB5BD" />
                        <circle cx="13.8877" cy="3.5" r="3" fill="#ADB5BD" />
                        <circle cx="23.8877" cy="3.5" r="3" fill="#ADB5BD" />
                    </svg></td>
            </tr>
        </table>
        <section class="botao-carregar">
            <button class="btn btn--azul">Carregar Mais</button>
        </section>
    </main>
</body>

</html>