/* CLASSES DE BOTÕES */

.btn {
    color: white;
    border: none;
    border-radius: 0.2rem;
    width: fit-content;
    height: 2.5rem;
    padding: 0.75rem 3.125rem 0.75rem 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn__sm {
    width: fit-content;
    height: 2rem;
}

.btn__azul {
    background-color: rgba(65, 90, 243, 1);
}

.btn__azul__claro {
    background-color: rgba(65, 80, 210, 1);
}

.btn__disabled {
    background-color: rgba(215, 228, 251, 1);
    cursor: not-allowed;
}

.btn__cinza__claro {
    background-color: rgba(233, 236, 239, 1);
    color: black;
}

.btn__cinza__escuro {
    background-color: rgba(173, 181, 189, 1);
    color: black;
}

.btn__vermelho {
    background-color:rgba(240, 56, 57, 1);
}

.btn__vermelho__escuro {
    background-color: rgba(230, 68, 69, 1);
}

